<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Register</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
  @import url('https://fonts.googleapis.com/css?family=Roboto');



  body {
    font-family: 'Roboto', sans-serif;
    background: url('lago-di-molveno.jpeg') no-repeat center center fixed;
    background-size: cover;
  }


    .btn-info {
      background-color: #8c8cdb;
      border-color: #8c8cdb;
       margin-top: 300px;


    }

    .btn-success {

       margin-top: 300px;
     }
  </style>
</head>

<body>

      <div style="text-align: center;">
          <a href="/login" class="btn btn-lg btn-success">Login</a>
          <a href="/signup" class="btn btn-lg btn-info">Register</a>
  </div>

</body>

</html>
