body {
  font-family: "DejaVu Sans";
  font-size: 12pt;
  margin: 0;
}
* {
  box-sizing: border-box;
}
.image {
  height: 500px;
  background-image: url('molveno-lake.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
}
h1, h2, h3 {
  margin: 0 0 10px 0;
  text-align: center;
}
.mainDiv {
  background-color: #ddeeff;
  padding: 10px 10%;
}
.roomFrame, .roomExtras, .viewFrame, .bedsFrame {
  border-radius: 10px;
  background-color: #eff7ff;
  padding: 10px;
  display: inline-block;
  margin-bottom: 10px;
}
select {
  font-family: "DejaVu Sans";
  font-size: 12pt;
  border: none;
  background-color: #ccddee;
  border-radius: 10px 0 0 10px;
  padding: 5px;
}
button {
  font-family: "DejaVu Sans";
  font-size: 12pt;
  border: none;
  background-color: #ccddee;
  border-radius: 20px;
  padding: 15px;
}
input {
  font-family: "DejaVu Sans";
  font-size: 12pt;
  border: solid 1px;
  background-color: #ccddee;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  transition: all 0.5s;
}
.text {
  width: 450px;
}
@keyframes inputFocus {
  from {
    background-color: #ccddee;
  }
  to {
    background-color: #ffffff;
  }
}
input:focus {
  animation-name: inputFocus;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
button:hover {
  background-color: #88bbdd;
}
.error, #error {
  color: red;
}
