<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Login Register</title>
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
  <style>
    html {
      padding: 50px;
      background: #c7dbdb;
    }

    .jumbotron {
      padding: 2rem 1rem;
      margin-top: 2rem;
      margin-bottom: 2rem;
      background-color: #e9ecef;
      border-radius: .3rem;
    }

    .btn-info {
      background-color: #8c8cdb;
      border-color: #8c8cdb;
    }
  </style>
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <a href="/login" class="btn btn-lg btn-success">Login</a>
      <a href="/signup" class="btn btn-lg btn-info">Register</a>
    </div>
  </div>

  <hr class="my-4">

  <div class="container-fluid padding">
    <!-- padding = vulling -->
    <div class="row padding">
      <div class="col-md-12 col-lg-6">
        <h2>If you build it...</h2>
        <p>The columns will automatically stack on top of each other when the screen is less than 576px wide.</p>
        <p>Resize the browser window to see the effect.</p>
        <p>It can also display the web page differently depending on the screen size or viewing device.</p>
        </br>
        <a href="#" class="btn btn-primary">Learn More</a>
      </div>
      <div class="col-lg-6">
        
      </div>
    </div>
  </div>
  <hr class="my-4">



</body>

</html>
